header {
    background: url("https://res.cloudinary.com/dpjzmn026/image/upload/v1445481688/new-york-manhattan_vsutqy.jpg");
    background-size: cover;
}

.splash_cover {
    background-color: rgba(40, 40, 40, 0.7);
}

.navbar-default {
    background-color: transparent;
}

.text-white {
    color: #fff;
}
.skill_text {
    font-size: 0.6em;
    font-weight: 300;
    letter-spacing: 1px;
}

.orange_skill {
    color: #ff7f0e;
}

.blue_skill {
    color: #1f77b4;
}

.red_skill {
    color: #d62728;
}

.green_skill {
    color: #2ca02c;
}

.purple_skill {
    color: #9467bd;
}

.yellow_skill {
    color: #e8ca00;
}

.portfolio-modal .modal-content {
    padding: 0;
}

@media (max-width: 992px) {
    .navbar-default {
        background-color: #222;
    }
}
.portfolio-modal .modal-content p.item-intro {
    margin-bottom: 0;
}


.divider.divider_1 {
    background: url("https://res.cloudinary.com/dpjzmn026/image/upload/v1445481686/web_design_sc2xa4.jpg") fixed bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 668px) {
    .divider.divider_1 {
        background: url("https://res.cloudinary.com/dpjzmn026/image/upload/v1445481686/web_design_sc2xa4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        -ms-background-position-y: -3em;
        background-position-y: -3em;
    }
}
.divider.divider_2 {
    height: 15em;
    background-color: #2DCA95;
    color: #fff;
    position: relative;
}

section#contact {
    background: url("https://res.cloudinary.com/dpjzmn026/image/upload/v1445481684/code_ogmfxw.jpg") fixed top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quote_box {
    position: absolute;
    top: 20%;
}
.quote {
    text-transform: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 0.6px;
    quotes: "\201C""\201D""\2018""\2019";
}
.quote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  font-family: arial;
}

@media (max-width: 1000px) {
    .quote {
        font-size: 1.2em;
    }
    .quote_box {
        top: 25%;
    }
}
@media (max-width: 500px) {
    .quote_box {
        top: 15%;
    }
}
.quote_author {
    position: relative;
    font-weight: 700;
}

.divider {
    height: 10em;
    background-size: cover;
    background-repeat: no-repeat;
}


.action_button{
  background:#2DCA95;
  color:#fff;
  border:none;
  position:relative;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.action_button:hover{
  background:#fff;
  color:#2DCA95;
}
.action_button:before,.action_button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #2DCA95;
  transition:400ms ease all;
}
.action_button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.action_button:hover:before,.action_button:hover:after{
  width:100%;
  transition:800ms ease all;
}

.mini_button {
    font-size: 14px;
    padding: 6px 12px;
}

.big_button {
    font-size: 20px;
    padding: 24px 48px;
}

#team {
    background-color: #222;
}

.help-block ul li {
    list-style: none;
}