/*Global CSS*/
body {
  font-size: 14px;
  font-family: "Helvetica Neue";
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;

}
a, a:hover, a:focus, a:visited {
  color: inherit;
}
::selection {
  background: #fff; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fff; /* Gecko Browsers */
}
/*End Global*/

/*Splash*/
.splash, .section_1, .section_2, .section_3, .section_4 {
  height: 48.4em;
}
.side_nav {
  height: 100%;
  width: 15%;
  background-color: rgba(30,30,30,1);
  clear: both;
  position: fixed;
  z-index: 1;
}
  .side_nav .fa {
    cursor: pointer;
  }
.nav_box {
  margin: 1.5em 1em;
  position: relative;
  font-size: 3em;
  width: 4em;
  text-align: left;
  display: none;
}
.nav_box_1 {

}
.nav_box_2 {
  background: url("http://cdn.ttgtmedia.com/rms/computerweekly/photogalleries/245725/2967_20_stationary.jpg")no-repeat center center;
  background-size: cover;
}
.nav_box_3 {
  background: url("http://35if8l37rcx617qr9x4es9ybri5.wpengine.netdna-cdn.com/wp-content/uploads/2014/01/Brain1.jpg") no-repeat center center;
  background-size: cover;
}
.nav_box_4 {
  background: url("http://www.theonlineprinter.com.au/userfiles/image/Zz%20Conact%20Us/E-mail.jpg") no-repeat center center;
  background-size: cover;
}
  .nav_highlight {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
    margin-top: 35%;
    position: relative;
    left: -25px;
  }
  .nav_name {
    font-size: 16px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: rgb(237, 237, 237);
    margin-left: 10px;
    top: -2px;
  }
  .fa-male {
    font-size: 1.4em;
  }
  .fa-wrench {
    font-size: 1.15em;
  }
  .fa-home {
    font-size: 1.3em;
    margin-left: -8px;
  }

.right {
  background-color: blue;
  height: 100%;
  display: flex;
  width: 25%;
  float: left;
  position: relative;
  left: 15%;
  flex-direction: column;
  align-items: stretch;
}
  .right_box_1 {
    background-color: #E8D578;
    position: relative;
  }
  .right_box_2 {
    background-color: #D0E799;
    position: relative;
  }
  .right_box_3 {
    background-color: #51A361;
    position: relative;
  }
  .splash_box {
    /* height: 33.3333%; */
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: 0 auto; */
  }
    .web, .data, .performance {

      border-radius: 50%;
      background-color: rgb(30,30,30);
      color: white;
      font-weight: 100;
      flex-basis: 0;
      flex: 0 1 auto;
      margin: 0 auto;
    }
      .circle_title {
        position: absolute;
        font-size: 1.5em;
        top: 0.3em;
        width: 100%;
        text-align: center;
      }
      .circle {
        height: 100%;
      }
      .data {
        -webkit-animation-delay: 0.5s;
      }
      .performance {
        -webkit-animation-delay: 1s;
      }
        .performance .circle_title {
          top: 0.5em;
        }
.middle {
  background-color: rgb(30,30,30);
  height: 100%;
  display: inline-block;
  width: 60%;
  float: left;
  left: 15%;
  position: relative;
}
  .name, .tagline, .problem_solver {
    text-align: center;
  }
  .name {
    font-size: 3.5em;
    margin-top: 6em;
    font-weight: 100;
    color: rgb(237, 237, 237);
    -webkit-animation-delay: 1.5s;

  }
  .tagline {
    font-weight: 300;
    font-size: 1em;
    color: rgb(84, 84, 84);
    -webkit-animation-delay: 2s;
  }
    .fa-circle {
      font-size: 0.4em;
      vertical-align: middle;
    }

   
/*End Splash*/

/*Section 1*/
.section {
  width: 85%;
  position: relative;
  left: 15%;
}
  .headline {
    font-size: 4.5em;
    padding: 0.5em;
    font-weight: 700;
  }
  .paragraph {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.3px;
    padding: 1em;
    line-height: 1.5em;
  }
    .paragraph .tagline {
      text-align: left;
      color: #eee;
      font-weight: 500;
      margin-bottom: 0.5em;
    }


  .bio_icon {
    text-align: center;
    width: 3em;
    height: 4em;
    display: block;
    margin: 0 auto 1em;
    color: white;
  }

.section_1 {
  background-color: #ddd;
}
.content_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
  .mini {
    font-size: 0.6em;
    font-weight: 700;
  }
  .bold, .huge {
    font-weight: 700;
  }
  .huge  {
    font-size: 3em;
  }
  .learn_to_code {
    background-color: rgba(43, 165, 255,0.6);
    flex-basis: 150em;
  }
  .musical_interests {
    background-color: rgba(43, 165, 255,0.6);

  }
  .experience {
    background-color: rgba(43, 165, 255,0.6);
    flex-basis: 120em;
  }
    .experience_list {
      margin-left: 3em;
      font-size: 0.5em;
      list-style-type: inherit;
    }
.section_2 {
  background-color: #999;
}
  .section_2 .headline {
    text-align: right;
  }
.section_3 {
  background-color: #777;
}
/*End Section 1*/
.projects_container {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}
.project {
  font-size: 16px;
  flex: 1 auto;
  align-self: baseline;
}
.project_1 {
  background-color: green;
  height: 20em;
  width: 20em;
}
.project_2 {
  background-color: yellow;
  height: 20em;
  width: 10em;
}
.project_3 {
  background-color: orange;
  height: 10em;
  width: 10em;
  vertical-align: top;
}
.project_4 {
  background-color: blue;
  height: 10em;
  width: 10em;
}
.project_5 {
  background-color: cyan;
  height: 10em;
  width: 10em;
}
.project_6 {
  background-color: red;
  height: 10em;
  width: 18.5em;
}
.project_7 {
  background-color: pink;
  height: 10em;
  width: 20em;
}
/*Section 2*/

/*End Section 2*/

/*Section 3*/
/*End Section 3*/

/*Section 4*/
.section_4 {
  background-color: #333;
}
.section_4 .headline {
  background-color: #ddd;
  text-align: center;
}
.contact_form {
  text-align: center;
}
.contact_input {
  padding: 0.3em;
  margin-top: 2em;
  border-radius: 10px;
  border: 0;
  font-size: 2em;
  font-weight: 100;
  font-family: Helvetica Neue;
}
.contact_body {
  border-radius: 10px;
  margin-top: 1em;
  border: 0;
  font-size: 2em;
  font-weight: 100;
  font-family: Helvetica Neue;
  padding: 10px;
}

#submit_contact {
  border: 5px solid #eee;
  padding: 1em 2em;
  background-color: #333;
  color: #eee;
  border-radius: 5px;
  font-family: Helvetica Neue;
  font-weight: 100;
  font-size: 2em;
  margin-top: 1em;
  box-shadow: 1px 2px 3px black;
}
/*End Section 4*/
