body {
  background: url('../images/my_background.png') no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 18px;
}
.first_row {
  margin-top: 65px;
}
#main_heading {
  margin-top: 168px;
  text-align: right;
  margin-right: 30px;
}
#main_heading h1{
  color: ivory;
  font-weight: bold;
  font-size: 5em;
  text-shadow: 2px 2px 3px black;
  line-height: 100%;
}
.initial_state {
  height: 300px;
}
#main_heading h4{
  position: relative; 
  color: rgb(223, 24, 24);
  font-weight: bold;
  margin-right: -3px;
  margin-bottom: -18px;
}

.body_left {
  height: 100%;
  /*background-color: orange;*/
}

.body_middle {
  /*background-color: blue;*/
  height: 100%;
}

.body_right {
  /*background-color: yellow;*/
  height: 100%;
}
.information {
  position: relative;
  top: 45%;
  text-align: center;
  height: 100%;
  font-size: 1.3em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 2px 3px black;
}
.circle_link {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  background-color: rgba(200,200,200,.6);
  border: 6px double #DFDFDF;
  margin: 0 auto;
  box-shadow: 0px 0px 65px rgb(109, 105, 105);
  margin-bottom: 10px;
}
#project_1 {
  display: inline-block;
  height: 75%;
  width: 45%;
}
#project_1 a {
  position: relative;
  top: -15px;
  text-shadow: none;
}
#project_1 img {
  height: 100%;
}
#project_2 {
  display: inline-block;
  background-color: green;
  height: 75%;
  width: 45%;
}
table, th, td{
  border: 1px solid black;
  width: 40%;
  height: 50%;
}
#about_me {
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  line-height: 90%;
  text-shadow: 1px 1px 1px black;
}
#contact {
  text-align: center;
}
.about_me_tagline {
  text-align: center;
}
#skills {
  background-color: pink;
  display: inline-block;
}
#skills_plus {
  background-color: yellow;
  display: inline-block;
}
